@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.overlay{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display:none;
    position:fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#closeBtn{
    color:  rgb(255, 255, 255);
    transition: color 1s;
    z-index: 101;
}

.container-overlay .btnClose{
    position: absolute;
    font-size: 3em;
    left: 93%;
    top: 3%;
    cursor: pointer;
}

.container-overlay{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container-overlay p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container-overlay span{
    font-size: 12px;
}

.container-overlay a{
    font-weight: bold;
    display: inline-block;
    transform: scale(1.1); 
}

.container-overlay button{
    background-color: rgb(218, 152, 247);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container-overlay button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container-overlay form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container-overlay input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login{
    left: 0;
    width: 50%;
    z-index: 20;
}

.container-overlay.activo .login{
    transform: translateX(100%);
}

.registro{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 10;
}

.container-overlay.activo .registro{
    transform: translateX(100%);
    opacity: 1;
    z-index: 50;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 10;
    }
    50%, 100%{
        opacity: 1;
        z-index: 50;
    }
}

.iconos{
    margin: 20px 0;
}

.iconos a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.iconos a img{
    width: 16px;
    height: 16px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 100;
}

.container-overlay.activo .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: rgb(75, 94, 114);
    height: 100%;
    background: linear-gradient(to right, #a6ebeb, #c0a0c3);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    z-index: 9;
}

.container-overlay.activo .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container-overlay.activo .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container-overlay.activo .toggle-right{
    transform: translateX(200%);
}

